header {
  background-color: #400913;
  margin-top: -10em;
}
h1 {
  text-align: center;
  margin: 2em;
  padding-top: 1em;
  font-size: 5em;
  color: #ffffff;
  font-family: "Rubik Mono One", sans-serif;
  font-weight: 300;
  margin-bottom: 0.5em;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000000;
}

main {
  margin: 1em;
  margin-left: 12em;
  margin-right: 12em;
}
ul {
  text-align: center;
}

button {
  font-family: "Gidugu", sans-serif;
  font-size: 2em;
  background-color: #400913;
  color: #ffffff;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav button {
  background-color: #400913;
}

nav {
  margin-bottom: 5rem;
}

.valgt {
  background-color: #000000;
}

header h2 {
  font-family: "Russo One", sans-serif;
  text-align: center;
  font-size: 2.5em;
  color: #ffffff;
}

.deler {
  background-color: #345554;
}

h3 {
  color: #8c1127;
  font-family: "Russo One", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  margin-bottom: 0;
}
p {
  font-family: "Russo One", sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: #8c1127;
}

article {
  border: 1px solid #8c1127;
  border-radius: 25px;
  padding: 10px;
  margin: 1em;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  border-radius: 25px;
}
hr {
  color: #8c1127;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

#popup {
  width: 100vw;
  height: 100vw;
  background-color: #00000099;
  position: fixed;
  top: 0;
  padding: 2em;
  display: none;
  justify-content: center;
}

#popupinfo {
  text-align: center;
  background-color: #ffffff;
  width: 40vw;
  margin-bottom: 10em;
  margin-inline: auto;
  border: 3px solid #400913;
}

#tilbage {
  font-family: "Rubik Mono One", sans-serif;
  margin-left: 15em;
}
#popupinfo h2 {
  color: #345554;
  font-family: "Russo One", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  margin-bottom: 0;
}
